In [5]:
import pandas as pd


df = pd.read_csv("StudentsPerformance.csv")

#print(df.head())

print(df)

     gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]

In [4]:
# Mostrar Las primeras 10 filas del DataFrame
print(df.head(10))

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard
5  female        group B          associate's degree      standard
6  female        group B                some college      standard
7    male        group B                some college  free/reduced
8    male        group D                 high school  free/reduced
9  female        group B                 high school  free/reduced

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75
5                    none          71             83             78
6               completed          88             95             92
7                    none          40             43             39
8               completed          64             64             67
9                    none          38             60             50

In [6]:
#2.Calcular el promedio de puntaje en matemáticas

print("Promedio de puntaje en matemáticas:", df["math score"].mean())

Promedio de puntaje en matemáticas: 66.089

In [7]:
#3.	Sumar todos los puntajes de lectura

print("Suma de todos los puntajes de lectura:", df["reading score"].sum())

Suma de todos los puntajes de lectura: 69169

In [8]:
#4.Encontrar la nota más alta y más baja en escritura

print("Nota más alta en escritura:", df["writing score"].max())
print("Nota más baja en escritura:", df["writing score"].min())

Nota más alta en escritura: 100
Nota más baja en escritura: 10

In [9]:
#5.Contar cuántos estudiantes tienen 100 en matemáticas

print("Número de estudiantes con 100 en matemáticas:", df[df["math score"] == 100].shape[0])

Número de estudiantes con 100 en matemáticas: 7

In [10]:
#6.Calcular el promedio de puntajes por género

print("Promedio de puntajes por género:")
df.groupby("gender")[["math score", "reading score", "writing score"]].mean()

Promedio de puntajes por género:

        math score  reading score  writing score
gender
female   63.633205      72.608108      72.467181
male     68.728216      65.473029      63.311203

In [11]:
#7.Contar cuántos estudiantes hay por grupo étnico (race/ethnicity)

print("Número de estudiantes por grupo étnico:")
print(df["race/ethnicity"].value_counts())

Número de estudiantes por grupo étnico:
race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

In [12]:
#8.	Saber cuántos estudiantes completaron preparatoria

print("Número de estudiantes que completaron preparatoria:", df[df["parental level of education"] == "high school"].shape[0])

Número de estudiantes que completaron preparatoria: 196

In [17]:
#9.	Crear una columna "total score" sumando math + reading + writing

df["total score"] = df["math score"] + df["reading score"] + df["writing score"]

print("✅ Columna total score :")
print(df["total score"])

✅ Columna total score :
0      218
1      247
2      278
3      148
4      229
      ...
995    282
996    172
997    195
998    223
999    249
Name: total score, Length: 1000, dtype: int64

In [20]:
df["desempeño"] = pd.cut(df["total score"],
                         bins=[-1, 209, 269, float('inf')],
                         labels=["Regular", "Bueno", "Excelente"])
print("✅ Columna desempeño :")
print(df["desempeño"])

✅ Columna desempeño :
0          Bueno
1          Bueno
2      Excelente
3        Regular
4          Bueno
         ...
995    Excelente
996      Regular
997      Regular
998        Bueno
999        Bueno
Name: desempeño, Length: 1000, dtype: category
Categories (3, object): ['Regular' < 'Bueno' < 'Excelente']