In [10]:
import pandas as pd

df = pd.read_csv("colesterol final.csv", sep=";")

print(df)

# 游늷 Dato 1: El dato en la posici칩n fila 4, columna 5
print("Dato 1: El valor en la posici칩n [4, 5] es:")
print(df.iloc[4, 5], "\n")

# 游늷 Dato 2: El valor de la fila 7, columna 'peso'
print("Dato 2: El valor de la columna 'peso' en la fila 7 es:")
print(df.loc[7, "peso"], "\n")

# 游늷 Dato 3: Mostrar toda la fila 5
print("Dato 3: Toda la fila 5 es:")
print(df.iloc[5], "\n")

# 游늷 Dato 4: Mostrar fila 2 con las tres primeras columnas
print("Dato 4: Fila 2, solo las tres primeras columnas:")
print(df.iloc[2, 0:3])

                             nombre  edad sexo    peso  altura  colesterol
0      Jos칠 Luis Mart칤nez Izquierdo    18    H   850.0     179      1820.0
1                    Rosa D칤az D칤az    32    M   650.0     173      2320.0
2             Javier Garc칤a S치nchez    24    H     NaN     181      1910.0
3               Carmen L칩pez Pinz칩n    35    M   650.0      17      2000.0
4              Marisa L칩pez Collado    46    M   510.0     158      1480.0
5                 Antonio Ruiz Cruz    68    H   660.0     174      2490.0
6           Antonio Fern치ndez Oca침a    51    H   620.0     172      2760.0
7             Pilar Mart칤n Gonz치lez    22    M   600.0     166         NaN
8              Pedro G치lvez Tenorio    35    H   900.0     194      2410.0
9           Santiago Reillo Manzano    46    H   750.0     185      2800.0
10            Macarena 츼lvarez Luna    53    M   550.0     162      2620.0
11       Jos칠 Mar칤a de la Gu칤a Sanz    58    H   780.0     187      1980.0
12  Miguel Angel Cuadrado Guti칠rrez    27    H  1090.0     198      2100.0
13            Carolina Rubio Moreno    20    M   610.0     177      1940.0
Dato 1: El valor en la posici칩n [4, 5] es:
1480.0

Dato 2: El valor de la columna 'peso' en la fila 7 es:
600.0

Dato 3: Toda la fila 5 es:
nombre        Antonio Ruiz Cruz
edad                         68
sexo                          H
peso                      660.0
altura                      174
colesterol               2490.0
Name: 5, dtype: object

Dato 4: Fila 2, solo las tres primeras columnas:
nombre    Javier Garc칤a S치nchez
edad                         24
sexo                          H
Name: 2, dtype: object